.aboutContainer {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)), url('../images/img-about.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white;
  h1 {
    margin-bottom: 10px;
    font-weight: 900;
    text-shadow: 0 0.5px 2px #211f1f;
  }
  h2 {
    font-size: 22px;
    text-transform: none;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 70px;
    text-shadow: 0 0.5px 2px #211f1f;
  }
}

.aboutTextContainer {
  width: 700px;
  text-transform: uppercase;
  background-color: #fff;
  opacity: 0.8;
  padding: 30px;
  
  p {
    color: #000;
    font-weight: 100;
    // padding-bottom: 20px;
  }
  span {
    padding-right: 5px;
    font-weight: 700;
    font-size: 21px;
  }
}

.separator {
  border-left: 2px solid #000;
  padding-left: 20px;
}