.aboutContainer {
  h2 {
    font-size: 24px;
    text-transform: none;
    margin-top: 50px; 
    opacity: 70%;
    font-weight: 100;
  }
}

.aboutTextContainer {
  // padding: 40px 100px;
  font-size: 18px;
  height: 100%;
  padding-left: 100px;
}

.paragraph {
  padding: 10px;
}