.contactContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(rgba(237,235,232,0.2), rgba(237,235,232,0.2)), url('../assets/img-contact.jpg');
  background-position: center;
  background-size: cover;
  padding: 50px 16px !important; 
  box-sizing: border-box;

  @media (min-width: 1200px) {
    padding: 0; 
    width: 700px;
    align-items: flex-end;
  }
}

.contactFormContainer {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255,0.8));
  border-radius: 6px;
  padding: 20px;
  margin: 0 16px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 30px;
    width: 60%;
  }

  @media (min-width: 1200px) {
    width: 700px;
    margin: 0;
  }
}