$green: #42B390;
$secondary: #EDEBE8;
$main: #1c1c1c;

.formContainer, .inputContainer{
  display: flex;
  flex-direction: column;
}

.mainFormContainer {
  display: flex;
  align-items: center;
  border: 4px solid #fff;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
}

.formContainer {
  width: 100%;
  padding: 10px 10px;
  // box-sizing: border-box;
  @media (min-width: 768px) {
    padding: 10px 40px;
  }
}

.inputContainer {
  text-align: left;
  margin-bottom: 12px;
  color $main;
  opacity: 0.8;
  label {
    margin-bottom: 4px;
  }
  input, textarea {
    border: 0;
    border-color: none;
    border-radius: 4px;
    padding: 10px;
  }
  span {
    margin-top: 8px;
    font-size: 14px;
    color: $green;
    opacity: 0.9;
  }
  textarea {
    font-family: Lato, sans-serif;
  }
}

.submitBtn {
  background-color: $green;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 10px;
  // margin: 15px;
  font-size: 18px;
  color: #fff;
  @media (min-width: 1200px) {
    width: 20%;
  }
}

textarea:focus, input:focus {
  outline-color: rgba(66, 179, 144, 0.7);
}

.messageSubmit {
  margin-top: 8px;
  text-align: center;
  color: $green;
}