.navbar, .linksContainer {
  display: flex;
}

.navbar {
  padding: 24px 18px;
  justify-content: flex-end;
}

.navbarTransparent{
  background-color: transparent;
}

.link {
  color: #fff;
  text-decoration: none;
  padding-left: 3rem;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
}

.stickyNav {
  transition: all .7s ease-in;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.95;
  z-index:11;
  .link {
    color: black;
  }
}