$green: #42B390;
$secondary: #EDEBE8; 

.headerContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar, .linksContainer {
  display: flex;
}

.navbar {
  padding: 24px 24px;
  justify-content: flex-end;
}

.link {
  color: #fff;
  border: none;
  background-color: transparent;
  padding-left: 3rem;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.navbarTransparent{
  background-color: transparent;

  .link {
   text-shadow: 0 0.5px 2px #211f1f;
  }
}

.stickyNav {
  transition: 0.4s background-color ease-in;
  position: fixed;
  top: 0;
  right: 0; //fix full width margin on the left 
  background-color: #fff;
  width: 100%;
  opacity: 0.95;
  z-index:11;
  .link {
    color: #000;
   }
}

// ** react-burger-menu  **

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
  border-radius: 2px;
}

// /* Color/shape of burger icon bars on hover*/
// .bm-burger-bars-hover {
//   background: $green;
// }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $green;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $secondary;
  padding: 20px;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding-bottom: 20px;
}