* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
	left: 0;
}

.videoContainer video {
  height: 100%;
  width: 100%;
	object-fit: cover;
}

.videoContainer::after {
  content: '';
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

.textContainer {
  z-index: 15;
  color: #FFF;
  text-align: center;
  font-size: 30px;
}

// .logoContainer {
// }