* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  z-index: 15;
  color: #FFF;
  text-align: center;
  font-size: 30px;
}

// .logoContainer {
// }