$secondary: #C4BCB3; 
$green: #42B390;

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  //overflow-x: hidden; 
}

h1 {  
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2 {
  font-weight: 900;
  font-size: 22px;
}

.leftSideContainer {
  height: 100%;
  width: calc(100% - 65%);
  // padding-left: 200px;
} 

.rightSideContainer {
  width: calc(100% - 30%);
  // padding-right: 200px;
  // font-size: 30px;
  // font-weight: 200;
}

.pageContainer {
  display: flex;
  // margin-top: 100px;
  padding-right: 100px;
  height: 100vh;
}

.footer {
  display: flex;
  background-color: $secondary;
  flex-direction:  column;
  align-items: center;
  padding: 50px 100px;

}

.linksFooter {
  margin-top: 50px;
  padding: 20px 0;
  display: flex;
  border-top: 2px solid #FFF;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  color: $green;
  font-size: 14px;
  span {
    padding-right: 15px;
  }
  a {
    text-decoration: none;
    color: $green;
  }
  .envelope {
    padding-right: 5px;
  }
}