body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

h1 {  
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2 {
  font-weight: 900;
  font-size: 22px;
}

.leftSideContainer {
  height: 100%;
  width: calc(100% - 65%);
  // padding-left: 200px;
} 

.rightSideContainer {
  width: calc(100% - 30%);
  // padding-right: 200px;
  // font-size: 30px;
  // font-weight: 200;
}

.pageContainer {
  display: flex;
  // margin-top: 100px;
  padding-right: 100px;
  height: 100vh;
}