$green: #42B390;
$secondary: #EDEBE8;
$main: #1F1F1F;


.leftText,
.rightText,
.gridHeader,
.servicesContainer,
.service {
  display: flex;
}

.pageContainer.servicesContainer {
  flex-direction: column;
  padding: 0;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.leftText {
  background-color: $secondary;
  justify-content: center;

  h2 {
    font-weight: 700;

    @media (min-width: 1200px) {
      span {
        display: inline-block;
      }
    }
  }

  @media (min-width: 1200px) {
    width: 35%;
    padding-left: 90px;
    align-items: center;
  }

  @media (min-width: 1920px) {
    padding-left: 150px;
  }
}

.rightText {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 80px 30px;

  @media (min-width: 480px) {
    padding: 80px 50px;
  }

  @media (min-width: 768px) {
    padding: 70px 100px;
  }

  @media (min-width: 1200px) {
    justify-content: normal;
    width: 65%;
    padding: 30px 50px 30px 50px;
  }

  @media (min-width: 1920px) {
    // padding: 100px 70.5px 150px 70.5px; 
  }

}

.headingContainer {
  padding: 50px;
  text-align: center;
  padding-bottom: 30px;

  @media (max-width: 1200px) {
    h2 {
      padding-bottom: 10px;
      border-bottom: 4px solid #fff;
    }
  }

  @media (min-width: 1200px) {
    border: 4px solid #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
    padding-bottom: 70px;
    text-align: left;
    padding: 90px 50px;
  }
}

.gridHeader {
  align-items: flex-end;
  margin-bottom: 8px;

  h4 {
    font-size: 18px;
  }

  >span {
    display: inline-block;
    font-weight: 900;
    background-color: $secondary;
    font-size: 20px;
    padding: 8px;
    margin-right: 8px;
    border-radius: 4px;
  }

  @media (min-width: 768px) {
    margin-bottom: 16px;

    h4 {
      font-size: 24px;
    }

    >span {
      font-size: 38px;
    }
  }

  @media (min-width: 1024px) {
    h4 {
      font-size: 26px;
    }

    >span {
      font-size: 40px;
    }
  }
}

.servicesTitles {
  color: $main;
  font-weight: 700;

  span {
    display: block;
  }
}

.service {
  .listDots {
    padding: 8px;
    color: $green;
    font-size: 5px;
    text-align: center;
  }

  p {
    padding-bottom: 20px;
  }

  span {
    display: block;
  }
}

@media (min-width: 1200px) {
  .text1 {
    grid-area: main1;
  }

  .text2 {
    grid-area: main2;
  }

  .text3 {
    grid-area: main3;
  }

  .text4 {
    grid-area: main4;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
    // column-gap: 50px;
  }

  @media (min-width: 1200px) {
    row-gap: 10px;
    grid-template-areas:
      "main1 ."
      ". main2"
      "main3 ."
      ". main4";
    margin: 30px 0;
  }

  @media (min-width: 1920px) {
    // column-gap: 100px;
    row-gap: 30px;
    margin: 50px;
  }
}