.videoContainer {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
	left: 0;
}

.videoContainer video {
  height: 100%;
  width: 100%;
	object-fit: cover;
}

.videoContainer::after {
  content: '';
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
}